
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #5d738b;
    display: flex;
    align-items: center;
    justify-content: center; 
    min-height: 100vh; 
}

.container {
    background-color: #e9a2a2;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90%; 
    padding: 20px;
    box-sizing: border-box; 
    min-height: min-content;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px; 

h1 {
    color: #4930a9;
    text-align: center;
}

#clock {
    border: 10px;
    border-radius: 25px;
    font-size: 48px;
    font-weight: bold;
    color: #5d738b;
    text-align: center;
    background-color: aliceblue;
    padding: 20px;
    box-sizing: border-box;
}
